{% extends "card.njk" %}

{% block front %}

  <div class="card__title">What's this?</div>

  {# {{#Reverse? (Back on front)}} #}

  {% include "partials/fields/back-word-field.njk" %}

  {# {{/Reverse? (Back on front)}} #}

{% endblock %}

{% block back %}

  <hr id="answer" />

  {% include "partials/fields/text-example-field.njk" %}

  {% include "partials/fields/picture-field.njk" %}

  {% include "partials/fields/definition-field.njk" %}

  {% include "partials/fields/recording-field.njk" %}

  {# {{#Root Form (Test Comprehension if here)}}

  <p>Root Form: {{Root Form (Test Comprehension if here)}}</p>

  {{/Root Form (Test Comprehension if here)}} #}

{% endblock %}
