{% extends "card.njk" %}

{% block front %}

  {# {{#Test Root Form (Production)?}} #}

  <div class="card__title">What's the Root Form?</div>

  {% include "partials/fields/text-example-field.njk" %}

  {% include "partials/fields/picture-field.njk" %}

  {% include "partials/fields/definition-field.njk" %}

  {# {{/Test Root Form (Production)?}} #}

{% endblock %}

{% block back %}

  <hr id="answer" />

  <div class="card__title">Root Form: Dichosos</div>

  <p><em>Inflected Form: Dichosos</em></p>
  
  <div>¡Qué dichosos somos estar aquí! - se decían unos a otros.</div>

  <hr class="separator" />

{% endblock %}