<label class="field-label">Spanish Partial Phrase</label>
<p>Nunca <span class="censor">me siento</span> más solo que cuando estoy intentando <span class="censor">ponerme</span> <span class="censor">crema solar</span> en la espalda.</p>